@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

    .titre {
        width: 250px;
        height: 91px;
        background: #000000;
        color: #FFFFFF;
        justify-content: center;
        align-content: center;
        padding: 12px 18px 0px 16px;
        
        
    }
    .sidebar{
        width: 250px;
        background: #222222;
        color: #fff;
        height: 100%;
        display: block;
    }
    .sidebar ul li:hover{
        background: #0071F2;
        width: 250px;
    }
    
    .name .name2 {
      margin-top: 4px;
    }
    .name2 {
      color: #4CD964;
    }
    .ico1 {
      color: #FFFFFF;
      flex-direction: row;
      display: flex;
      justify-content: space-between;
    }
    .balico {
      align-self: flex-end;
      margin-bottom: 15px;
    }
    .align {
      flex-direction: row;
      color: black;
      display: flex;
    }
    .visible {
      display: none;
    }
    .boxhead {
      width: 100%;
      height: 79px;
      left: 250px;
      background: #FFFFFF;
    }
    .texthead {
      color: #000000;
      padding-top: 22px;
      padding-left: 30px;
      font-size: 26px;
    }
    .flexall {
      display: flex;
      height: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .boxbody {
      width: 100%;
      height: 100%;
      background: #f4f3f3;
    }
.block {
  height: 100%;
  width: 100%;
}
.sidebar ul li{
  padding: 15px;
}    

.sidebar ul li .a1{
    color: #B3B3B3;
  display: block;
}
x

.sidebar ul li a .fas{
  width: 25px;
}
    
.sidebar ul li:hover .a1{
  color: #fff;
}
.stat {
  background: #0071F2;
  
}
.bla {
  color: white;
}

.sidebar .social_media a{
  display: block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #bdb8d7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

 